In [1]:
import pandas as pd
import numpy as np
dict = { 
'First Score':[100, 90, np.nan, 95],
 'Second Score': [30, 45, 56, np.nan],
 'Third Score':[90, 40, 80, 98],
          'Forth Score':[10,30,np.nan,70] 
}
df = pd.DataFrame(dict)
print(df)
df.isnull()

   First Score  Second Score  Third Score  Forth Score
0        100.0          30.0           90         10.0
1         90.0          45.0           40         30.0
2          NaN          56.0           80          NaN
3         95.0           NaN           98         70.0

   First Score  Second Score  Third Score  Forth Score
0        False         False        False        False
1        False         False        False        False
2         True         False        False         True
3        False          True        False        False